BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Rank It Globally
# Optional, falls back to hello@rankitglobally.com if unset
BREVO_ADMIN_EMAIL=
BREVO_LIST_ID=

CALENDLY_TOKEN=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
